<h1>Device Id: {{device["id"]}}</h1>
<div style="width:50%" *ngIf='deviceFlag'>
  <mat-grid-list cols="3" rowHeight="20px">
    <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="1"
                   [rowspan]="1"
    >{{tile.label}}: {{tile.data}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="!loaded">Loading...</div>
<div *ngIf="deviceFlag" [hidden]="!loaded" class="container">
  <div class="row">
    <div class="col">
      <span style="font-weight:bold;font-size:20px;">Locations</span>
      <ag-grid-angular
        style="height:250px;width:100%;"
        class="ag-theme-blue"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="gridData"
        [columnDefs]="gridColumns"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
    <div class="col">
      <span style="font-weight:bold;font-size:20px;">Packet Types</span>
      <ag-grid-angular
        style="height:250px;"
        class="ag-theme-blue"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="gridTwoData"
        [columnDefs]="gridTwoColumns"
        [gridOptions]="gridTwoOptions"
        (gridReady)="onGridTwoReady($event)"></ag-grid-angular>
    </div>
  </div>
</div>
<div *ngIf="packetsFlag" [hidden]="!loaded">
  <span style="font-weight:bold;font-size:20px;">Packets</span>
  <ag-grid-angular
    style="width: 1000px; height: 400px;"
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="gridData"
    [columnDefs]="gridColumns"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
