<mat-sidenav-container style="background-color:darkgrey;">
  <mat-sidenav
    style="background-color:deepskyblue;"
    mode="side"
    [fixedInViewport]="true"
    opened>
    <div *ngFor="let route of routeList">
      <div>
        <button mat-button routerLinkActive="active" routerLink="/{{route}}">{{route}}</button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
