<!--The content below is only a placeholder and can be replaced.-->
<div [hidden]="loaded">LOADING...</div>
<div [hidden]="!loaded">
  <h1>Packets</h1>
  <ag-grid-angular
    style="width: 1000px; height: 400px;"
    class="ag-theme-blue"
    enableSorting
    enableFilter
    [rowData]="packetData"
    [columnDefs]="packetColumns"
    [gridOptions]="pGridOptions"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<div [hidden]="!loaded">
  <h1>Devices</h1>
  <ag-grid-angular
    style="width: 1000px; height: 400px;"
    class="ag-theme-blue"
    enableSorting
    enableFilter
    [rowData]="deviceColumns"
    [columnDefs]="deviceColumns"
    [gridOptions]="dGridOptions"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
