<div [hidden]="loaded">LOADING...</div>
<div [hidden]="!loaded">
  <h1 style="padding-left:5px;">Devices</h1>
  <button mat-button [disabled]="!rowSelected" [ngStyle]="{'color':!rowSelected ? 'gray' : 'white' }"
          (click)="openDialog('device')">View Device
  </button>
  <button mat-button [disabled]="!rowSelected" [ngStyle]="{'color':!rowSelected ? 'gray' : 'white' }"
          (click)="openDialog('packets')">View Packets
  </button>
  <ag-grid-angular
    style="width: 185vh; height: 80vh"
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="deviceData"
    [columnDefs]="deviceColumns"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowSelected)="enableButtons()">
  </ag-grid-angular>
</div>

