<div [hidden]="loaded">LOADING...</div>
<div [hidden]="!loaded">
  <h1>Location</h1>
  <button mat-button [disabled]="!rowSelected" (click)="openDialog()">View Location</button>
  <button mat-button [disabled]="!rowSelected">View Relationships</button>
  <ag-grid-angular
    style="width: 100%; height: 400px;"
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="locationData"
    [columnDefs]="locationColumns"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowSelected)="enableButtons()">
  </ag-grid-angular>
</div>

