<div [hidden]="loaded">LOADING...</div>
<div [hidden]="!loaded">
  <h1>Packets</h1>
  <button mat-button [disabled]="!rowSelected" (click)="openDialog()">View Packet</button>
  <button mat-button [disabled]="!rowSelected">View Relationships</button>
  <ag-grid-angular
    style="width: 1000px; height: 400px;"
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="packetData"
    [columnDefs]="packetColumns"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowSelected)="enableButtons()">
  </ag-grid-angular>
</div>

