a{
  color:white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.menuItem{
  font-size:16px;
  padding-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menuItemSeparator{
  border-top: 1px solid #8c8b8b;
}
