<h1>Details</h1>
<div>
  <mat-list dense>
    <h3 matSubheader>Packet</h3>
    <mat-list-item>
      <p matLine *ngFor="let tile of packetTiles">
        {{tile.label}}: {{tile.data}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Type</h3>
    <mat-list-item>
      <p matLine *ngFor="let tile of typeTiles">
        {{tile.label}}: {{tile.data}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Device</h3>
    <mat-list-item>
      <p matLine *ngFor="let tile of deviceTiles">
        {{tile.label}}: {{tile.data}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Location</h3>
    <mat-list-item>
      <p matLine *ngFor="let tile of locationTiles">
        {{tile.label}}: {{tile.data}}
      </p>
    </mat-list-item>
  </mat-list>
</div>
