<div [hidden]="loaded">LOADING...</div>
<div [hidden]="!loaded">
  <h1>Type</h1>
  <button mat-button [disabled]="!rowSelected" [ngStyle]="{'color':!rowSelected ? 'gray' : 'white' }"
          (click)="openDialog('type')">View Device
  </button>
  <button mat-button [disabled]="!rowSelected" [ngStyle]="{'color':!rowSelected ? 'gray' : 'white' }"
          (click)="openDialog('packets')">View Packets
  </button>
  <button mat-button [disabled]="!rowSelected" [ngStyle]="{'color':!rowSelected ? 'gray' : 'white' }"
          (click)="openDialog('device')">View Device
  </button>
  <ag-grid-angular
    style="width: 185vh;  height: 80vh;"
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="typeData"
    [columnDefs]="typeColumns"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowSelected)="enableButtons()">
  </ag-grid-angular>
</div>

